<% #include_javascript 'admin/foods/fields.js' %>

<%= render 'shared/error_messages', object: f.object %>

<%= render :partial => 'aside', :locals => { :f => f, :uobj => nil, :bcobj => @food } %>

<div class="row-fluid">
	<div class="span12">
		
				<%= f.label :display_name, placeholder: "Put your food name here..." %>
				<%= f.text_field :display_name %>
				<%= f.label :calories, placeholder: "Put your calories here..." %>
				<%= f.number_field :calories %>
			
	</div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= f.submit params[:action]=="edit" ? "Save changes" : "Save", class: "btn btn-large btn-primary" %>
  </div>
</div>

  

<%= debug(f.object) if Rails.env.development? %>