<% #include_javascript 'admin/foods/fields.js' %>

<%= render 'shared/error_messages', object: f.object %>

<div class="row-fluid">
	<aside class="span2">
		<h3><%= params[:controller].humanize.singularize.upcase %></h3>
		<%= render "shared/user_stat", object: nil %>
		<%= render 'breadcrumb', object: @food %>
		<%= f.submit params[:action]=="edit" ? "Save changes" : "Save", class: "btn btn-large btn-primary" %>
	</aside>

	<div class="span8">
		<div class="row-fluid">
			<div class="span6">
				<%= f.label :display_name, placeholder: "Put your food name here..." %>
				<%= f.text_field :display_name %>

				<%= f.label :calories, placeholder: "Put your calories here..." %>
				<%= f.number_field :calories %>

			</div>
		
			<div class="span6">

				
			</div>
		</div>

	</div>
</div>

<%= debug(f.object) if Rails.env.development? %>