<% provide(:title, "Foods Manager") %>
<h1>Foods Manager</h1>

<%= render :partial => 'aside', :locals => { :f => nil, :uobj => nil, :bcobj => nil } %>

<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span8">
				<%= form_tag({:action => :upload}, :multipart => true) do %>
		  		<%= file_field_tag 'meals_data' %>
		  		<%= submit_tag "upload!", :class => "btn span2" %>
				<% end %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<% if @foods.any? %>
					<h3>Foods (<%= @foods.count %>)</h3>
					<%= render "foods_table" %>
				<% end %>
			</div>
		</div>
	</div>
</div>