<% include_javascript 'sheets/fields.js' %>
<% include_javascript 'sheets/textarea.js' %>
<% include_javascript 'sheets/meals.js' %>
<% include_javascript 'sheets/activities.js' %>

<%= render 'shared/error_messages', object: f.object %>

<div id="validation_error" class="row-fluid">
		<div id="error_explanation" class="span12">
			<div id="validation_error_message" class="alert alert-error">
			</div>
		</div>
</div>

<% # content_for(:aside) do %>
    <% # = params[:action].upcase %>
    <% # = render "shared/user_stat", object: nil %>
    <% # = render 'shared/breadcrumb', object: @sheet %>
    <% # = f.submit params[:action]=="edit" ? "Save changes" : "Save", class: "btn btn-large btn-primary" %>
<% # end %>

<%= render :partial => 'shared/aside', :locals => { :uobj => nil, :bcobj => @sheet } %>

<div class="row-fluid">
	<div class="span12">
  
		<div class="row-fluid">
			<div class="span12">
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Week Number</th>
							<th>Goals Met:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="input-append date" id="sheet_date_markup" data-date="<%= f.object.date.strftime("%d-%m-%Y") %>" data-date-format="dd-mm-yyyy">
									<%= f.text_field :date, :size => 10, :value => f.object.date.strftime("%d-%m-%Y") %>
									<span class="add-on ui-datepicker-trigger"><i class="icon-th"></i></span>
								</div>
							</td>
							<td>
								<%= f.number_field :week_num %>
							</td>
							<td>
								<% # f.select :goals_met, Sheet::GOALS_MET, {:prompt => 'Choose ...'} %>
								<%= f.select :goals_met, Sheet::GOALS_MET, {:include_blank => 'Choose ...'} %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<ul class="nav nav-tabs" id="fieldsTab">
					<li class="active"><a href="#fuel">Fuel Tracker</a></li>
					<li><a href="#burn">Burn Tracker</a></li>
				</ul>
				<div class="tab-content">
					<%= render 'fields_tab_fuel', f: f %>
					<%= render 'fields_tab_burn', f: f %>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= f.submit params[:action]=="edit" ? "Save changes" : "Save", class: "btn btn-large btn-primary" %>
  </div>
</div>



<%= debug(f.object) if Rails.env.development? %>