
	<h3><%= categoryKey.capitalize %></h3>
	<div>
		<table id="<%= categoryKey %>-meals" class="table table-bordered table-hover fit-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Time</th>
					<th>Calories</th>
				</tr>
			</thead>
			<tbody categoryKey="<%= categoryKey %>" categoryId="<%= categoryId %>" >
				<%
					total_calories = 0
					meals.each do |meal|
					total_calories += meal.calories
					 %>
				<%= render :partial => 'meals_table_row', :locals => { :meal => meal } %>
				<% end %>
				<tr class="footer">
					<td colspan="2">Total calories for <%= categoryKey %>:</td>
					<td class="calories"><%= total_calories%></td>
				</tr>
			</tbody>
			
			

		</table>
	</div>
