<% provide(:title, "Edit sheet") %>
<% include_javascript 'meals/add.js' %>

<h1>Update current sheet</h1>

<div class="row">
	<div class="span6 offset3">
		<%= render 'meals/add_form' %>

		<%= form_for(@sheet) do |f| %>
			<%= f.label "Meals" %>
			<div id="accordion">
				<%= render :partial => 'meals/add_fields', :locals => { :f => f, :meals => @breakfast_meals, :category => "Breakfast" } %>
				<%= render :partial => 'meals/add_list', :locals => { :meals => @lunch_meals, :category => "Lunch" } %>
				<%= render :partial => 'meals/add_list', :locals => { :meals => @dinner_meals, :category => "Dinner" } %>
			</div>

			<%= render 'fields', f: f %>

			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<%
#@sheet.meals.where("category = :category", {:category => 1})
%>