<% include_javascript 'sheets/show.js' %>

<% provide(:title, "Sheet") %>
<h1>Sheet Detail</h1>

<%= render :partial => 'shared/aside', :locals => { :uobj => nil, :bcobj => @sheet } %>

<div class="row-fluid">
		<% # = params[:controller].singularize.upcase %>
		<% # = render "shared/user_stat", object: nil %>
		<% # = render 'shared/breadcrumb', object: @sheet %>
	
		<div class="row-fluid">
			<div class="span12">
				<table class="table">
					<thead>
						<tr>
							<th>Date:</th>
							<th>Week #:</th>
							<th>Goals Met:</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @sheet.date.strftime("%d-%m-%Y") %></td>
							<td><%= @sheet.week_num.nil? ? 0 : @sheet.week_num.ordinalize %></td>
							<td><%= Sheet::GOALS_MET.select {|a| a.include?(@sheet.goals_met ? true : false) }.first.first %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span12">
				<ul class="nav nav-tabs" id="fieldsTab">
					<li class="active"><a href="#fuel">Fuel Tracker</a></li>
					<li><a href="#burn">Burn Tracker</a></li>
				</ul>
				<div class="tab-content">
					<%= render :partial => 'show_tab_fuel', :locals => { :sheet => @sheet } %>
					<%= render :partial => 'show_tab_burn', :locals => { :sheet => @sheet } %>
				</div>
			</div>
		</div>
	</div>
</div>
