<% provide(:title, "Sheet") %>
<% include_javascript 'sheets/show.js' %>

<h1>Sheet</h1>

<div class="row-fluid">
	<aside class="span2">
		<section>
			<%= link_to "Edit", edit_sheet_path(@sheet) %>
		</section>
		<section>
			<b>Calorie Target:</b><%= @sheet.calorie_target %>
		</section>
		<section>
			<b>Date:</b><%= @sheet.date.strftime("%d-%m-%Y") %>
		</section>
		<section>
			<b>Goals Met:</b><%= Sheet::GOALS_MET.select {|a| a.include?(@sheet.goals_met ? 1 : 0) }.first.first %>
		</section>
		<section>
			<b>Sleep Hours:</b><%= @sheet.sleep_hours %>
		</section>
		<section>
			<b>Water Glasses:</b>
			<%= render :partial => 'shared/water_glasses_control', :locals => { :disabled => true, :checked_value => @sheet.water_glasses } %>
		</section>
		<section>
			<b>Energy Level:</b>
			<%= render :partial => 'shared/energy_level_control', :locals => { :disabled => true, :checked_value => @sheet.energy_level } %>
		</section>
	</aside>

	<div class="span10">
		<div class="row-fluid">
			<div class="span6">
				<% if @sheet.meals.any? %>
					<h3>Meals (<%= @sheet.meals.count %>)</h3>
					
					<div id="mealsAccordion">
						<% Meal::CATEGORIES.each do |category| %>
							<%= render :partial => 'meals_table',
								:locals => {
									:meals => @sheet.meals.where("category = :category", {:category => category[1]}).order("time ASC"),
									:categoryId => category[1],
									:categoryKey => category[0]
								} %>
						<% end %>
					</div>
				<% end %>

				<table class="table table-bordered" width="90%">
					<thead>
						<tr class="ui-widget-header ">
							<th>Total Calories Consumed:</th>
							<th><%= @sheet.total_calories_consumed %></th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="span6">
				<% if @sheet.activities.any? %>
					<h3>Activities (<%= @sheet.activities.count %>)</h3>

					<div id="activitiesAccordion">
						<% Activity::CATEGORIES.each do |category| %>
							<%= render :partial => 'activities_table',
								:locals => {
									:activities => @sheet.activities.where("category = :category", {:category => category[1]}).order("time ASC"),
									:categoryId => category[1],
									:categoryKey => category[0]
								} %>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>

		<div class="row-fluid">
			<div class="span12">
				<label for="notes">Notes:</label>
				<textarea id="notes" rows="5"><%= @sheet.notes %></textarea>
			</div>
		</div>
				
	</div>
</div>
