<% if signed_in? %>
	
	<% if !object.nil? %>
    <div class="row-fluid">
      <div class="span3">
        <a href="<%= user_path(object) %>" ><%= gravatar_for object, size: 35 %></a>
      </div>
      <div class="span9">
        <h4><%= object.name %></h4>
      </div>
    </div>
	<% else %>
		<h4><a href="<%= user_path(current_user) %>"><%= gravatar_for current_user, size: 35 %></a><%= current_user.name %></h4>
	<% end %>
	
<% else %>
	<h3>
		Anonimous User (<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>)
	</h3>
<% end %>