<%#= will_paginate @sheets %>
<table id="userSheetsTable" class="table table-bordered table-hover sortable fit-table">
	<thead>
		<tr>
			<th><%= sortable "date" %></th>
			<th><%= sortable "goals_met", "Goals Met" %></th>
		</tr>
	</thead>
	<tbody>
		<% @sheets.each do |sheet| %>

		<tr>
			<td class="date">
				<%= sheet.date.strftime("%d/%m/%Y") %>
			</td>
			<td class="goals">
				<i class="<%= sheet.goals_met? ? 'icon-thumbs-up' : 'icon-thumbs-down' %>"></i>
			</td>
			<input type="hidden" value="<%= sheet.id %>" />
		</tr>

		<% end %>
	</tbody>
</table>

<div class="fit-pagination">
	<div class="fit-page-entries-info">
		<%= page_entries_info @sheets %>
	</div>
	<%= will_paginate @sheets, :container => false %>
</div>
