<h3><%= category %> (<span id="<%= category.downcase %>-total-calories">0</span>):</h3>
<div id="<%= category.downcase %>-meals-container" class="ui-widget meals-container">
	
	<table id="<%= category.downcase %>-meals" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Name</th>
				<th>Time</th>
				<th>Calories</th>
				<th>Category</th>
				<!--<th><i id="add-[category-downcase]-meal" class="icon-plus"></i></th>-->
				<th><%= link_to_add_fields "Add", f, :meals, category %></th>
			</tr>
		</thead>
		<tbody category="<%= category.downcase %>">
			<%= f.fields_for :meals, meals do |meal_fields| %>

			<%= render "meal_item_fields", :f => meal_fields %>

			<tr>
				<td><%= meal_fields.text_field :name %></td>
				<td>
					<div class="input-append bootstrap-timepicker">
					<%= meal_fields.hidden_field :timepart, :class => 'meal-timepart-field' %>
					<%= meal_fields.text_field :time, :class => 'input-small meal-time-field' %>
					<span class="add-on"><i class="icon-time"></i></span>

					</div>
				</td>
				<td><%= meal_fields.number_field :calories %></td>
				<td><%= meal_fields.text_field :category, :readonly => true, :value => category.downcase %></td>
				<td><i class="icon-remove"></i><%= meal_fields.hidden_field :category %></td>
			</tr>

			<% end %>

		</tbody>
	</table>
	<script type="text/javascript">
	initTotalCalories('<%= category.downcase %>');
	</script>
</div>